<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" href="css/justified-nav.css"/>
        <link rel="stylesheet" href="css/main.css"/>
    {% endblock %}
</head>
<body>

<div class="container">
    <div class="masthead">
        <h3 class="text-muted">Project name</h3>
        <ul class="nav nav-justified">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Downloads</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>


    {% block body %}{% endblock %}

    <!-- Site footer -->
    <div class="footer">
        <p>&copy; Company 2014</p>
    </div>

</div>

{% block javascripts %}
    <script src="js/vendor/jquery-2.1.1.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/holder.js"></script>
    <script src="js/main.js"></script>
{% endblock %}
</body>
</html>